.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.nav-form {
    -fx-background-color: linear-gradient(to bottom right, #9d86c7, #630eb9);
}

.nav-form Text {
    -fx-fill: white;
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.logout{
    -fx-background-color: #9b7bfc;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color: #9b7bfc;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgb(155, 123, 252), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.card {
    -fx-background-color: linear-gradient(to right, #2b303c, #525968);
    -fx-background-radius: 5;
}

.card Label,
.card Button,
.card Text {
    -fx-text-fill: white;
}


.table-view{
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-color:linear-gradient(to bottom right, #9b7bfc, #630eb9);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #9b7bfc, #630eb9);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color:linear-gradient(to bottom right, #7a7979, #630eb9);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
}

.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #9b7bfc, #630eb9);
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-border-width:1px;
    -fx-padding:0px 0px 0px 28px;
}
.search:focused{
    -fx-border-width:2px;
}

.add-btn{
    -fx-background-color:#304575;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.add-btn:hover{
    -fx-background-color:#3357a4;
}

.update-btn{
    -fx-background-color:#327252;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.update-btn:hover{
    -fx-background-color:#309a65;
}

.delete-btn{
    -fx-background-color:#86253f;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.delete-btn:hover{
    -fx-background-color:#ae1d46;
}

.clear-btn{
    -fx-background-color:#753566;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.clear-btn:hover{
    -fx-background-color:#9d3485;
}

.label-info{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:4px;
    -fx-padding:0px 0px 0px 8px;
}